<!DOCTYPE html>

<html>
          <head>
	    <title>Rango</title>
          </head>

           <body>
                     <h1>Add a Category</h1>
                     <div>
                            <form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
                                   {% csrf_token %}
                                   {% if category %}
                                           {% for hidden in form.hidden_fields %}
                                                 {{ hidden }}
                                           {% endfor %}
                                           {% for field in form.visible_fields %}
                                                 {{ field.errors }}
                                                 {{ field.help_text }}
                                                 {{ field }}
                                           {% endfor %}
                                   {% else %}
                                           The specified category does not exist.
                                   {% endif %}
                            <input type="submit" name="submit" value="Create Category">
                            </form>
                    </div>

            </body>
</html>